@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  box-sizing: border-box;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 786px) {
  /* #project-image {
    width: 80vw !important;
    height: 220px;
    margin: auto;
  }

  #project-info {
    width: 80vw !important;
    height: 220px;
  } */

  .project-div {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 2rem !important;
    margin: auto 0;
  }
}
